


body{margin-right: 0px;
    margin-left:0px;
background-image:url('cont2.jpg');
background-size: cover;
background-repeat: no-repeat;
background-color: black;}
    
    
.navbar ul li a{
    
    text-decoration: none;

    
    
    }
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
    
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-decoration: none;
  }
 
  .topnav a:hover {
    background-color: rgb(243, 146, 81);
    color: black;
  }



  .active {
    background-color: #04AA6D;
    color: white;
  }
  .form{
    padding-left: 40px;
    padding-top: 40px;
  }
  .bg{
   color:tomato;
    
  
   font-weight: bold;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
   
  }
  #first{
      margin:10px;
    }
    #last{
      margin:10px;
    }
    #myemail{
      margin-top:10px;
      margin-left:23px;
  
    }
    #phone{
      margin-top:15px;
      margin-left:5px;
      margin-bottom:15px;
    }
    #review{
  
      margin-top:20px;
      margin-bottom:20px;
      
    }
  
    .submit{
      border-radius: 20px;
      padding-left: 50px;
      
    }
  
   
  
    
    .a{margin-top: 50px;
      font-size: 30px;
      font-family:cursive,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bolder;
      padding-left: 20px;
    color:white;
  background-color: tomato;}
    .e{
      font-size: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding-left: 20px;
      color:white;
      background-color: tomato;
    }
    
  
    .ft{margin-top:20px;
     
      text-align: center;
      color:#000000; 
      background-color: white;
      font-size: 10px;
  }
  .ae{
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  .a{
    padding-top:10px
  
  }
  .e{
    padding-bottom: 10px;
  }
  