


  
body{margin-right: 0px;
    margin-left:0px;
background-color: rgb(255, 255, 255);}
    
    
.navbar ul li a{
    
    text-decoration: none;

    
    
    }
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
    
  .topnav #myLinks {
    display: none;
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-decoration: none;
  }
 
  .topnav a:hover {
    background-color: rgb(243, 146, 81);
    color: black;
  }



  .active {
    background-color: #04AA6D;
    color: white;
  }



.main{
    margin-top: 10px;
    padding-top:50px;
    height: 400px;
    background-image: url(mac.jpg);
    background-size: cover ;

}

.head{
   padding-left: 30px;
    font-size: 20px;
    color: white;
    

}
.name1{
 
    color: black;
    background-color: white;
}
.name1:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
.name2:hover{
    color: black;
    background-color: rgb(255, 150, 80);
}
.main2{
    font-size: 20px;
    color: white;
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 200px;
    padding-left:15px;
}
.insta{
    padding-top: 30px;
    
    margin-left:10px;
}
.insta img{
    height: 30px;
    width:30px;
}
.insta:hover{

    border-radius: 20px;
    
}


.box2{
   

    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size:15px;
    background-color: black;
    color:white;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box3{
    margin-top: 20px;
    
   height: 40px;
   
    background: tomato;
    padding-left:20px;
}
.imga{
   
  margin-top:10px;
 
}
.img1 img{
    width:300px;
}
.img2 img{
    width:300px;
}

.img1{
   
    background-size: 100%;
   
}

.img2{
    
    background-size: 100%;
    
  
}
.ft{
   background-color: black;
 font-size:10px;
 text-align:center;
}